each p, i in photos
  .cardimg.card.shadow.mb-4
    .mtime.d-none= p.update_time.getTime()
    .card-header.py-2
      = p.name + ' by ' + p.uploader_name
      .d-block= p.update_time.toLocaleString()
      if (faces[i].length)
         i.fas.fa-user-alt
         each val, index in faces[i]
           = (index ? ', ' : ' ') + val.mark_name
    .card-body.p-0
      .bkimg(style={'background-image': 'url(' + "/uploads/" + p.id + ".preview.jpg" + ')','background-size': '100%'}, rel-height=p.height, rel-width=p.width)