extends layout

block title
    title Gallery

block top
    h3.text-dark.mb-0.m-2 Gallery

block topr
    .nav-item.dropdown.no-arrow
        a.nav-link(href='/gallery/upload_center')
            span.d-inline.mr-2.text-gray-600.small Upload Center