extends layout

block title
  title New Message

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline New Message
  h5.text-dark.mb-0.m-2.d-md-none New Message

block topr
  .nav-item
    a.nav-link(onclick="history.back(); return false;", href='#')
      span.d-inline.mr-2.text-gray-600.small Back

block content
  .row.justify-content-center
    .col-sm-12.col-md-11.col-lg-9.col-xl-6
      .card.shadow-lg.o-hidden.border-0.my-5
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold Send Form
        .card-body.p-0
          .p-5
            form.user(method="post")
              .form-group
                input.form-control.form-control-user(type="text", placeholder="User ID (Leave Space to Send to All)", name="id", oninput='input()', autocomplete="off", spellcheck="false", maxlength=30, value=pre)
              .form-group
                textarea.form-control.form-control-user(style={"border-radius":"1.7rem"},rows="5",type="text", placeholder="Content", name="content", oninput='input()', autocomplete="off", spellcheck="false", maxlength=20000)
              .form-group
                input.btn.btn-primary.btn-block.text-white.btn-user(type="submit", disabled, name="send_button", value="Send")
                if session.type === 127
                  input.btn.btn-primary.btn-block.text-white.btn-user(type="submit", disabled, name="send_button", value="Send Html")


append javascripts
  script.
    function input() {
      if ($('[name=content]').val())
        $('[type=submit]').removeAttr('disabled');
      else
        $('[type=submit]').attr('disabled', '');
    }

  script.
    $(window).on("load", function () {input()});
