extends layout

block title
  title Reset Password

block top
  h3.text-dark.mb-0.m-2 Reset Password

block content
  .row.justify-content-center
    .col-sm-12.col-md-11.col-lg-9.col-xl-6
      .card.shadow-lg.o-hidden.border-0.my-5
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold Reset Form
        .card-body.p-0
          .p-5
            form.user(method="post")
              .form-group
                input.form-control.form-control-user(type="text", placeholder="User ID", name="id", oninput='input(0)', value=pre, class={'d-none': !session.type})
              .form-group
                input.form-control.form-control-user(type="password", placeholder="Old Password", name="pwd_old", oninput='input(1)', class={'d-none': session.type})
              .form-group
                input.form-control.form-control-user(type="password", placeholder="New Password", oninput='input(2)',name="pwd_new")
              button.btn.btn-primary.btn-block.text-white.btn-user(type="submit", disabled, onclick='$(this).attr(\'disabled\', true); submit();') Reset

  script
    | function input(x) {
    |   if ($('[name=id]').val() && Number($('[name=id]').val()) === #{session.userID})
    |     $('[name=pwd_old]').removeClass('d-none');
    |   else
    |     $('[name=pwd_old]').addClass('d-none');
    |   if (!x) {
    |     $('[name=pwd_old]').val('');
    |     $('[name=pwd_new]').val('');
    |    }
    |   if (($('[name=id]').val() || $('[name=id]').hasClass('d-none')) &&
    |       ($('[name=pwd_old]').val() || $('[name=pwd_old]').hasClass('d-none')) &&
    |       ($('[name=pwd_new]').val()))
    |     $('[type=submit]').removeAttr('disabled');
    |   else
    |     $('[type=submit]').attr('disabled', '');
    | }
    |

append javascripts
  script.
    (() => {
      const onload1 = onload;
      onload = function (ev) {
        if (onload1)
          onload1.call(this, ev);
        input(0);
      };
    })();
